{{- with site.Params.specialInfoParams }}
<div class="special-info">
  <header class="title-header">
    <h2>{{ .Title }}</h2>
  </header>
  <div class="special-content">
    {{ range .Posts }}
      <article class="post-entry">
        <header class="entry-header">
          <h2>{{ .specialTitle | markdownify }}</h2>
        </header>
        <div class="entry-content">
          {{ .specialContent | markdownify }}
        </div>
        <a class="entry-link" href="{{ .link }}"></a>
      </article>
    {{ end}}
  </div>
</div>
{{- end -}}